In [1]:
import numpy as np
import random
import pandas as pd

#unique transaction id's
transaction_id = [i for i in range(1,50001)]

#vendor/customer number
vendor_number = np.random.randint(low = 1, high = 2500, size = (50000,))

#transaction amount
transaction_amount = np.random.randint(low = 20, high = 1250000, size = (50000))

#transaction type
transaction_types = ['cash_withdrawl', 'cash_deposit','transfer_domestic','transfer_international']

#generate list of random integers
random_integers = [random.randint(0,3) for i in range(0,50000)]
transaction_list = [transaction_types[i] for i in random_integers]


transaction_data = {"transaction_ID": transaction_id,
                   "vendor_number" : list(vendor_number),
                   "transaction_amount" : list(transaction_amount),
                    "transaction_type" : transaction_list,}


transaction_DataFrame = pd.DataFrame(transaction_data)

   transaction_ID  vendor_number  transaction_amount transaction_type
0               1            483              817613   cash_withdrawl

In [7]:
#!pip install neo4j

Collecting neo4j
  Downloading neo4j-5.9.0.tar.gz (188 kB)
                                              0.0/188.5 kB ? eta -:--:--
     ------                                  30.7/188.5 kB 1.4 MB/s eta 0:00:01
     ----------------                      81.9/188.5 kB 919.0 kB/s eta 0:00:01
     ---------------------                112.6/188.5 kB 819.2 kB/s eta 0:00:01
     -------------------------------      163.8/188.5 kB 898.2 kB/s eta 0:00:01
     ------------------------------------ 188.5/188.5 kB 877.9 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pytz in c:\users\pb966\appdata\local\programs\python\python311\lib\site-packages (from neo4j) (2023.3)
Building wheels for collected packages: neo4j
  Building wheel for neo4j (pyproject.toml): started
  Building wheel for neo4j (pyproject.toml): finished with status 'done'
  Created wheel for neo4j: filename=neo4j-5.9.0-py3-none-any.whl size=259497 sha256=d18bf3b3ab0041592845edd0891838a1b4fab76c75c00bab9396021e7c771767
  Stored in directory: c:\users\pb966\appdata\local\pip\cache\wheels\5a\6a\b3\89ab0efac04cf204cfc65f2bff4776865cfe5ff2e1b94ebaff
Successfully built neo4j
Installing collected packages: neo4j
Successfully installed neo4j-5.9.0

In [3]:
transaction_DataFrame.head()

   transaction_ID  vendor_number  transaction_amount        transaction_type
0               1            483              817613          cash_withdrawl
1               2           2419             1124335            cash_deposit
2               3           1601              188166       transfer_domestic
3               4            764              911126  transfer_international
4               5            227              242154       transfer_domestic

In [11]:
from neo4j import GraphDatabase

transaction_list = transaction_DataFrame.values.tolist()

transaction_execution_commands = []

for i in transaction_list:
    neo4j_create_statemenet = "create (t:Transaction {transaction_id:" + str(i[0]) +", vendor_number:  " + str(i[1]) +", transaction_amount: " + str(i[2]) +", transaction_type: '" + str(i[3]) + "'})"
    transaction_execution_commands.append(neo4j_create_statemenet)

    
def execute_transactions(transaction_execution_commands):
    data_base_connection = GraphDatabase.driver(uri = "bolt://localhost:7687", auth=("neo4j", "password"))
    session = data_base_connection.session()    
    for i in transaction_execution_commands:
        session.run(i)

        
execute_transactions(transaction_execution_commands)

In [12]:
unique_transaction_types = ["match (t:Transaction) return distinct t.transaction_type"]

def execute_transactions(transaction_execution_commands, return_result = False):
    data_base_connection = GraphDatabase.driver(uri = "bolt://localhost:7687", auth=("neo4j", "password"))
    session = data_base_connection.session()
    return_list = []
    
    for i in transaction_execution_commands:
        transaction_result = session.run(i)
        return_list = [j[0] for j in transaction_result]
    
    if return_result:
        return return_list

        
unique_transaction_results = execute_transactions(unique_transaction_types, True)
print(unique_transaction_results)

['cash_withdrawl', 'cash_deposit', 'transfer_domestic', 'transfer_international']

In [14]:
create_labels_commands = []

for i in unique_transaction_results:
    create_labels_commands.append("MATCH (t:Transaction) WHERE t.transaction_type = '" + i + "' SET t :" + i)

execute_transactions(create_labels_commands)

In [15]:
create_labels_commands[]

"MATCH (t:Transaction) WHERE t.transaction_type = 'cash_withdrawl' SET t :cash_withdrawl"

In [19]:
from neo4j import GraphDatabase

# Create a Neo4j driver
driver = GraphDatabase.driver(uri, auth=("neo4j", "password"), database="neo4j")

# Create a session
session = driver.session()

# Run your queries or perform other operations
query = "MATCH (m:Movie)-[:ACTED_IN]-(a:Actor) RETURN m.title AS movie, COLLECT(a.name) AS actors"
result = session.run(query)

for record in result:
    print(record["movie"], record["actors"])

# Close the session and driver

In [20]:
query = "MATCH (m:Movie) RETURN count(m) AS movieCount"
result = session.run(query)

for record in result:
    movie_count = record["movieCount"]
    print("Total movies:", movie_count)

if movie_count > 0:
    query = "MATCH (m:Movie)-[:ACTED_IN]-(a:Actor) RETURN m.title AS movie, COLLECT(a.name) AS actors"
    result = session.run(query)

    for record in result:
        print(record["movie"], record["actors"])
else:
    print("No movies found in the database.")

Total movies: 40

In [22]:
query = "MATCH (m:Movie) RETURN m.title AS movie"
result = session.run(query)

for record in result:
    print(record["movie"])

The Matrix
The Matrix Reloaded
The Matrix Revolutions
The Devil's Advocate
A Few Good Men
Top Gun
Jerry Maguire
Stand By Me
As Good as It Gets
What Dreams May Come
Snow Falling on Cedars
You've Got Mail
Sleepless in Seattle
Joe Versus the Volcano
When Harry Met Sally
That Thing You Do
The Replacements
RescueDawn
The Birdcage
Unforgiven
Johnny Mnemonic
Cloud Atlas
The Da Vinci Code
V for Vendetta
Speed Racer
Ninja Assassin
The Green Mile
Frost/Nixon
Hoffa
Apollo 13
Twister
Cast Away
One Flew Over the Cuckoo's Nest
Something's Gotta Give
Bicentennial Man
Charlie Wilson's War
The Polar Express
A League of Their Own
Parasite
Joker

In [28]:
query = "MATCH (m:Movie)-[:ACTED_IN]-(a:Person) RETURN m.title AS movie, COLLECT(a.name) AS actors"
result = session.run(query)

movie_actors_dict = {}

for record in result:
    movie = record["movie"]
    actors = record["actors"]
    movie_actors_dict[movie] = actors

print(movie_actors_dict)

{'The Matrix': ['Emil Eifrem', 'Hugo Weaving', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Keanu Reeves'], 'The Matrix Reloaded': ['Hugo Weaving', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Keanu Reeves'], 'The Matrix Revolutions': ['Hugo Weaving', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Keanu Reeves'], "The Devil's Advocate": ['Al Pacino', 'Charlize Theron', 'Keanu Reeves'], 'A Few Good Men': ['James Marshall', 'Kevin Pollak', 'J.T. Walsh', 'Aaron Sorkin', 'Cuba Gooding Jr.', 'Christopher Guest', 'Noah Wyle', 'Kiefer Sutherland', 'Kevin Bacon', 'Demi Moore', 'Jack Nicholson', 'Tom Cruise'], 'Top Gun': ['Val Kilmer', 'Meg Ryan', 'Tom Skerritt', 'Kelly McGillis', 'Tom Cruise', 'Anthony Edwards'], 'Jerry Maguire': ["Jerry O'Connell", 'Bonnie Hunt', 'Jay Mohr', 'Cuba Gooding Jr.', 'Jonathan Lipnicki', 'Renee Zellweger', 'Kelly Preston', 'Regina King', 'Tom Cruise'], 'Stand By Me': ["Jerry O'Connell", 'River Phoenix', 'Marshall Bell', 'Wil Wheaton', 'Kiefer Sutherland', 'John Cusack', 'Corey Feldman'], 'As Good as It Gets': ['Helen Hunt', 'Jack Nicholson', 'Cuba Gooding Jr.', 'Greg Kinnear'], 'What Dreams May Come': ['Robin Williams', 'Cuba Gooding Jr.', 'Max von Sydow', 'Werner Herzog', 'Annabella Sciorra'], 'Snow Falling on Cedars': ['Ethan Hawke', 'Rick Yune', 'Max von Sydow', 'James Cromwell'], "You've Got Mail": ['Tom Hanks', 'Parker Posey', 'Greg Kinnear', 'Meg Ryan', 'Steve Zahn', 'Dave Chappelle'], 'Sleepless in Seattle': ['Meg Ryan', 'Victor Garber', 'Tom Hanks', 'Bill Pullman', 'Rita Wilson', "Rosie O'Donnell"], 'Joe Versus the Volcano': ['Tom Hanks', 'Nathan Lane', 'Meg Ryan'], 'When Harry Met Sally': ['Carrie Fisher', 'Billy Crystal', 'Bruno Kirby', 'Meg Ryan'], 'That Thing You Do': ['Tom Hanks', 'Liv Tyler', 'Charlize Theron'], 'The Replacements': ['Brooke Langton', 'Keanu Reeves', 'Orlando Jones', 'Gene Hackman'], 'RescueDawn': ['Zach Grenier', 'Steve Zahn', 'Christian Bale', 'Marshall Bell'], 'The Birdcage': ['Robin Williams', 'Nathan Lane', 'Gene Hackman'], 'Unforgiven': ['Clint Eastwood', 'Gene Hackman', 'Richard Harris'], 'Johnny Mnemonic': ['Ice-T', 'Dina Meyer', 'Keanu Reeves', 'Takeshi Kitano'], 'Cloud Atlas': ['Tom Hanks', 'Jim Broadbent', 'Halle Berry', 'Hugo Weaving'], 'The Da Vinci Code': ['Audrey Tautou', 'Tom Hanks', 'Ian McKellen', 'Paul Bettany'], 'V for Vendetta': ['Ben Miles', 'Natalie Portman', 'John Hurt', 'Stephen Rea', 'Hugo Weaving'], 'Speed Racer': ['Susan Sarandon', 'Ben Miles', 'John Goodman', 'Christina Ricci', 'Matthew Fox', 'Rain', 'Emile Hirsch'], 'Ninja Assassin': ['Naomie Harris', 'Rain', 'Rick Yune', 'Ben Miles'], 'The Green Mile': ['Patricia Clarkson', 'Sam Rockwell', 'Gary Sinise', 'David Morse', 'Tom Hanks', 'Bonnie Hunt', 'Michael Clarke Duncan', 'James Cromwell'], 'Frost/Nixon': ['Oliver Platt', 'Frank Langella', 'Kevin Bacon', 'Michael Sheen', 'Sam Rockwell'], 'Hoffa': ['Jack Nicholson', 'Danny DeVito', 'John C. Reilly', 'J.T. Walsh'], 'Apollo 13': ['Ed Harris', 'Tom Hanks', 'Kevin Bacon', 'Gary Sinise', 'Bill Paxton'], 'Twister': ['Helen Hunt', 'Philip Seymour Hoffman', 'Bill Paxton', 'Zach Grenier'], 'Cast Away': ['Helen Hunt', 'Tom Hanks'], "One Flew Over the Cuckoo's Nest": ['Jack Nicholson', 'Danny DeVito'], "Something's Gotta Give": ['Jack Nicholson', 'Keanu Reeves', 'Diane Keaton'], 'Bicentennial Man': ['Oliver Platt', 'Robin Williams'], "Charlie Wilson's War": ['Tom Hanks', 'Julia Roberts', 'Philip Seymour Hoffman'], 'The Polar Express': ['Tom Hanks'], 'A League of Their Own': ['Lori Petty', 'Bill Paxton', 'Tom Hanks', "Rosie O'Donnell", 'Geena Davis', 'Madonna'], 'Parasite': ['Kang-ho Song', 'Yeo-jeong Jo', 'Sun-kyun Lee', 'So-dam Park', 'Woo-sik Choi'], 'Joker': ['Robert De Niro', 'Zazie Beetz', 'Joaquin Phoenix']}

In [47]:
import pandas as pd

query = "MATCH (m:Movie)<-[r:DIRECTED]-(p:Person) RETURN m.title AS movie, COLLECT(p.name) AS directors"
result = session.run(query)

df = pd.DataFrame(result, columns=["Movie", "Director"])

In [59]:
df.head()

,Movie,Director,Producers,Actors
0,The Matrix,"[Lana Wachowski, Andy Wachowski]",[Joel Silver],"{'Emil Eifrem': ['Emil'], 'Hugo Weaving': ['Ag..."
1,The Matrix Reloaded,"[Lana Wachowski, Andy Wachowski]",[Joel Silver],"{'Hugo Weaving': ['Agent Smith'], 'Laurence Fi..."
2,The Matrix Revolutions,"[Lana Wachowski, Andy Wachowski]",[Joel Silver],"{'Hugo Weaving': ['Agent Smith'], 'Laurence Fi..."
3,The Devil's Advocate,[Taylor Hackford],NaN,"{'Al Pacino': ['John Milton'], 'Charlize Thero..."
4,A Few Good Men,[Rob Reiner],NaN,"{'James Marshall': ['Pfc. Louden Downey'], 'Ke..."

In [49]:
query = "MATCH (m:Movie)<-[r:PRODUCED]-(p:Person) RETURN m.title AS movie, COLLECT(p.name) AS producers"
result = session.run(query)

producers_df = pd.DataFrame(result, columns=["Movie", "Producers"])
df = df.merge(producers_df, on="Movie", how="left")

In [58]:
import pandas as pd

query = "MATCH (m:Movie)<-[r:ACTED_IN]-(a:Person) RETURN m.title AS Movie, COLLECT({name: a.name, role: r.roles}) AS Actors"
result = session.run(query)

data = []
for record in result:
    movie = record["Movie"]
    actors = record["Actors"]
    actor_dict = {actor["name"]: actor["role"] for actor in actors}
    data.append([movie, actor_dict])

df_actor = pd.DataFrame(data, columns=["Movie", "Actors"])
df = df.merge(df_actor, on="Movie", how="left")

In [60]:
df.Actors[0]

{'Emil Eifrem': ['Emil'],
 'Hugo Weaving': ['Agent Smith'],
 'Laurence Fishburne': ['Morpheus'],
 'Carrie-Anne Moss': ['Trinity'],
 'Keanu Reeves': ['Neo']}