In [1]:
import numpy as np
import random
import pandas as pd

#unique transaction id's
transaction_id = [i for i in range(1,50001)]

#vendor/customer number
vendor_number = np.random.randint(low = 1, high = 2500, size = (50000,))

#transaction amount
transaction_amount = np.random.randint(low = 20, high = 1250000, size = (50000))

#transaction type
transaction_types = ['cash_withdrawl', 'cash_deposit','transfer_domestic','transfer_international']

#generate list of random integers
random_integers = [random.randint(0,3) for i in range(0,50000)]
transaction_list = [transaction_types[i] for i in random_integers]


transaction_data = {"transaction_ID": transaction_id,
                   "vendor_number" : list(vendor_number),
                   "transaction_amount" : list(transaction_amount),
                    "transaction_type" : transaction_list,}


transaction_DataFrame = pd.DataFrame(transaction_data)

   transaction_ID  vendor_number  transaction_amount transaction_type
0               1            483              817613   cash_withdrawl

In [7]:
#!pip install neo4j

Collecting neo4j
  Downloading neo4j-5.9.0.tar.gz (188 kB)
                                              0.0/188.5 kB ? eta -:--:--
     ------                                  30.7/188.5 kB 1.4 MB/s eta 0:00:01
     ----------------                      81.9/188.5 kB 919.0 kB/s eta 0:00:01
     ---------------------                112.6/188.5 kB 819.2 kB/s eta 0:00:01
     -------------------------------      163.8/188.5 kB 898.2 kB/s eta 0:00:01
     ------------------------------------ 188.5/188.5 kB 877.9 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pytz in c:\users\pb966\appdata\local\programs\python\python311\lib\site-packages (from neo4j) (2023.3)
Building wheels for collected packages: neo4j
  Building wheel for neo4j (pyproject.toml): started
  Building wheel for neo4j (pyproject.toml): finished with status 'done'
  Created wheel for neo4j: filename=neo4j-5.9.0-py3-none-any.whl size=259497 sha256=d18bf3b3ab0041592845edd0891838a1b4fab76c75c00bab9396021e7c771767
  Stored in directory: c:\users\pb966\appdata\local\pip\cache\wheels\5a\6a\b3\89ab0efac04cf204cfc65f2bff4776865cfe5ff2e1b94ebaff
Successfully built neo4j
Installing collected packages: neo4j
Successfully installed neo4j-5.9.0

In [3]:
transaction_DataFrame.head()

   transaction_ID  vendor_number  transaction_amount        transaction_type
0               1            483              817613          cash_withdrawl
1               2           2419             1124335            cash_deposit
2               3           1601              188166       transfer_domestic
3               4            764              911126  transfer_international
4               5            227              242154       transfer_domestic

In [6]:
import mysql.connector
import pandas


mydb = mysql.connector.connect(
  host="localhost",
  user="test_user",
  password="9669",
  database = 'neo4j_financial_fraud',
  port = '3306'
)

mycursor = mydb.cursor()

insert_statement = "INSERT into financial_transactions (transaction_id, vendor_number, transaction_amount, transaction_type) values (%s, %s, %s, %s)"
    
transaction_list = transaction_DataFrame.values.tolist()

for i in transaction_list:
    mycursor.execute(insert_statement, i)

    
mydb.commit()

ProgrammingError: 1045 (28000): Access denied for user 'test_user'@'localhost' (using password: YES)

In [11]:
from neo4j import GraphDatabase

transaction_list = transaction_DataFrame.values.tolist()

transaction_execution_commands = []

for i in transaction_list:
    neo4j_create_statemenet = "create (t:Transaction {transaction_id:" + str(i[0]) +", vendor_number:  " + str(i[1]) +", transaction_amount: " + str(i[2]) +", transaction_type: '" + str(i[3]) + "'})"
    transaction_execution_commands.append(neo4j_create_statemenet)

    
def execute_transactions(transaction_execution_commands):
    data_base_connection = GraphDatabase.driver(uri = "bolt://localhost:7687", auth=("neo4j", "password"))
    session = data_base_connection.session()    
    for i in transaction_execution_commands:
        session.run(i)

        
execute_transactions(transaction_execution_commands)

In [12]:
unique_transaction_types = ["match (t:Transaction) return distinct t.transaction_type"]

def execute_transactions(transaction_execution_commands, return_result = False):
    data_base_connection = GraphDatabase.driver(uri = "bolt://localhost:7687", auth=("neo4j", "password"))
    session = data_base_connection.session()
    return_list = []
    
    for i in transaction_execution_commands:
        transaction_result = session.run(i)
        return_list = [j[0] for j in transaction_result]
    
    if return_result:
        return return_list

        
unique_transaction_results = execute_transactions(unique_transaction_types, True)
print(unique_transaction_results)

['cash_withdrawl', 'cash_deposit', 'transfer_domestic', 'transfer_international']

In [14]:
create_labels_commands = []

for i in unique_transaction_results:
    create_labels_commands.append("MATCH (t:Transaction) WHERE t.transaction_type = '" + i + "' SET t :" + i)

execute_transactions(create_labels_commands)

In [15]:
create_labels_commands[]

"MATCH (t:Transaction) WHERE t.transaction_type = 'cash_withdrawl' SET t :cash_withdrawl"